body {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #24305E
} 

path {
  fill: #A8D0E6;
  stroke: #FFFFFF;
  stroke-opacity: 0.1; 
}

.map {
    margin-right: 20rem;
}

.navigation {
    height: 100vh;
    width: 100%;
    background: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: 70%;
    background: #374785;
    z-index: 9999;
    top: 0;
    position: fixed;

}